{{> htmlHeader}}
    <body>
    <div class="row">
        <div class="col three"></div>
        <div class="col four">
            <h1>{{GetBoardName}}</h1>
        </div>
    </div>
        <div class="TextCentre">
            <p>Welcome!</p>
            <h1>{{GetMessage}}</h1>
        </div>
        <div>
            <div class="NavHeading">
                <span>Browse Topics</span>
            </div>
            <ol id='topics'>
                {{#GetTopics}}
                    <li><h2><a href="/ViewTopic/?id={{GetId}}">{{GetName}}</a></h2></li>
                {{/GetTopics}}
            </ol>
        </div>
    </body>
</html>